$columns: 12;

$breakpoints: (
  'small': 600px,
  'medium': 840px,
  'large': 1280px,
);

.grid-demo {
  .grid {
    display: grid;
    gap: var(--space-s);
    grid-template-columns: repeat($columns, minmax(0, 1fr));
    margin-inline: auto;
  }

  .grid--fixed {
    max-width: calc(var(--fluid-max-width) * 1px);
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .column {
    background-color: #f00;
    opacity: 0.125;
  }

  .grid-span {
    grid-column: span $columns;
  }

  .field-element {
    display: flex;
    flex-direction: column;
    background-color: hsl(0 0% 0% / 0.2);
    gap: var(--space-s);

    > * {
      margin: 0;
    }
  }

  footer {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
  }

  // Static spans
  @for $span from 1 to $columns {
    .grid-span--#{$span} {
      grid-column: span $span;
    }
  }
  // Responsive spans
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media (min-width: $breakpoint-size) {
      @for $span from 1 to $columns {
        .grid-span--#{$breakpoint-name}-#{$span} {
          grid-column: span $span;
        }
      }
    }
  }
}
