/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,14,1.25,5,2,1024&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1440;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
  (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1440px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 11.11;
  --f--2-max: 8.96;
  --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
  var(--fluid-bp));

  --f--1-min: 13.33;
  --f--1-max: 11.2;
  --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
  var(--fluid-bp));

  --f-0-min: 16;
  --f-0-max: 14;
  --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
  var(--fluid-bp));

  --f-1-min: 19.2;
  --f-1-max: 17.5;
  --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
  var(--fluid-bp));

  --f-2-min: 23.04;
  --f-2-max: 21.88;
  --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
  var(--fluid-bp));

  --f-3-min: 27.65;
  --f-3-max: 27.34;
  --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
  var(--fluid-bp));

  --f-4-min: 33.18;
  --f-4-max: 34.18;
  --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
  var(--fluid-bp));

  --f-5-min: 39.81;
  --f-5-max: 42.72;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
  var(--fluid-bp));
}

$steps: ('-2', '-1', '0', '1', '2', '3', '4', '5');

@each $step in $steps {
  %u-font-size--step-#{$step} {
    font-size: var(--step-#{$step});

    .step-label {
      --border-width: clamp(1px, 0.125em, 2px);
      display: inline-flex;
      border: var(--border-width) solid currentColor;
      border-radius: 0.25em;
      font-size: 0.5em;
      gap: 0.5ch;
      margin-block-start: calc(-1 * (0.125em + var(--border-width)));
      margin-inline-start: 1ch;
      padding-inline: 0.125em 0.25em;
      vertical-align: middle;
      white-space: nowrap;

      &::before {
        content: 'Step: #{$step},';
      }

      &::after {
        content: attr(data-content);
      }

      .hide-step-labels & {
        display: none;
      }
    }

  }
  .u-font-size--step-#{$step} {
    @extend %u-font-size--step-#{$step};
  }
}

:root {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Poppins, sans-serif;
  line-height: 1.1;
}

h1 {
  @extend %u-font-size--step-5;
}

h2 {
  @extend %u-font-size--step-4;
}

h3 {
  @extend %u-font-size--step-3;
}

h4 {
  @extend %u-font-size--step-2;
}

h5 {
  @extend %u-font-size--step-1;
}

h6,
p,
li,
input
select,
fieldset {
  @extend %u-font-size--step-0;
}

p {
  margin: 0;
  line-height: 1.5;
}

small {
  @extend %u-font-size--step--2;
}
