---
title: "Utopia demos"
layout: "base.njk"
---

<header class="u-padding--s">
    <h1>{{ renderData.title or title or metadata.title }}</h1>
</header>
<main class="u-padding--m">
    <h2>What is this?</h2>
    <p class="u-margin-block-start--l">
        This project has utility classes for all spacing sizes from 3XS to 3XL.
        They add the spacing while also showing a visual representation of it
        to help see how it changes across viewport sizes.
    </p>
    <p class="u-margin-block-start--m">
        There are also styles for typography. Whenever a Utopia font size
        (step) is used, the name is appended to the text that uses it, again,
        to help visualisation.
    </p>
    <p class="u-margin-block-start--m">
        <strong>Pro tip:</strong> Press the <kbd>s</kbd> key on your keyboard
        to toggle the visibility of <strong>s</strong>pacing visualisers or press the
        <kbd>f</kbd> key to toggle <strong>f</strong>ont step labels.
    </p>
    <p class="u-margin-block-start--m">
        The demos listed below show various things you can do with Utopia.
    </p>

    <ul class="u-margin-block--s">
        {% for demo in collections.demos %}
        <li><a href="{{ demo.url }}">{{ demo.data.title }}</a></li>
        {% endfor %}
    </ul>
</main>
<footer class="u-padding--m">
    <span class="u-font-size--step-2">Amazing!</span>
</footer>
