@use 'utilities/spacing';

header,
footer {
  background-color: #333;
  color: #efefef;
}

p {
  margin: 0;
  line-height: 1.5;

  + p {
    @extend .u-margin-block-start--s;
  }
}

li + li {
  @extend .u-margin-block-start--xs;
}

label {
  display: flex;
  gap: 0.5em;
}

input[type='checkbox'] {
  margin: 0;
}

}
