@use 'utilities/spacing';

header,
footer {
  background-color: #333;
  color: #efefef;
}

p {
  max-width: 60ch;
}

main ul {
  margin: 0;
}

label {
  display: flex;
  gap: 0.5em;
}

input[type=checkbox] {
  margin: 0;
}

kbd {
  display: inline-block;
  padding: 0.25em 0.315em;
  border: 1px solid #d1d5da;
  background-color: #fafbfc;
  border-radius: 0.4375em;
  box-shadow: inset 0 -1px 0 #d1d5da;
  color: #444d56;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: text-bottom;
}
