---
title: 'Card'
demoName: 'card-demo'
---

<header class="u-padding--s">
    <h1>{{ renderData.title or title or metadata.title }}</h1>
</header>

<div class="card u-margin--l">
  <img class="card__image" src="https://images.unsplash.com/photo-1577798324328-c0d442e449c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80" alt="Image from Unsplash" />
  <div class="card__content u-padding-inline--m u-padding-block--l">
    <h2 class="card__title u-font-size--step-1">Title</h2>
    <p class="u-font-size--step-0 u-margin-block-start--l">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>
