---
title: 'Sidebar'
demoName: 'sidebar-demo'
---

<header>
    <h1>{{ renderData.title or title or metadata.title }}</h1>
</header>

<aside class="sidebar">
    <ul>
        <li class="u-padding--s"><a href="#">Lorem, ipsum.</a></li>
        <li class="u-padding--s"><a href="#">Perferendis, suscipit?</a></li>
        <li class="u-padding--s"><a href="#">Est, maiores!</a></li>
        <li class="u-padding--s"><a href="#">Natus, quia?</a></li>
        <li class="u-padding--s"><a href="#">Quod, dolores!</a></li>
        <li class="u-padding--s"><a href="#">Perspiciatis, nostrum.</a></li>
    </ul>
</aside>

<main class="u-margin-block--2xl">
    <h2>Content!</h2>
</main>

<footer>Woah!</footer>
