---
title: 'Sidebar'
demoName: 'sidebar-demo'
---

<header>
    <h1>{{ renderData.title or title or metadata.title }}</h1>
</header>

<aside class="sidebar">
    <ul>
        <li><a href="#">Lorem, ipsum.</a></li>
        <li><a href="#">Perferendis, suscipit?</a></li>
        <li><a href="#">Est, maiores!</a></li>
        <li><a href="#">Natus, quia?</a></li>
        <li><a href="#">Quod, dolores!</a></li>
        <li><a href="#">Perspiciatis, nostrum.</a></li>
    </ul>
</aside>

<main>
    <h2>Content!</h2>
</main>

<footer>Woah!</footer>
