---
title: 'Sidebar'
demoName: 'sidebar-demo'
---

<header class="u-padding--s">
    <h1>{{ renderData.title or title or metadata.title }}</h1>
</header>

<aside class="sidebar">
    <ul>
        <li class="u-padding--s"><a href="#">Lorem, ipsum.</a></li>
        <li class="u-padding--s"><a href="#">Perferendis, suscipit?</a></li>
        <li class="u-padding--s"><a href="#">Est, maiores!</a></li>
        <li class="u-padding--s"><a href="#">Natus, quia?</a></li>
        <li class="u-padding--s"><a href="#">Quod, dolores!</a></li>
        <li class="u-padding--s"><a href="#">Perspiciatis, nostrum.</a></li>
    </ul>
</aside>

<main class="u-padding--l">
    <div class="u-margin-block-start--3xl">
        <h2>Content!</h2>
    </div>
    <div class="u-margin-block-start--xl">
        <p>Look at all this amazing content! Wow!</p>
    </div>
</main>

<footer class="u-padding--m"> <span class="u-font-size--step-1">Woah!</span></footer>
